body{
	background:  url("background.png") ;
	background-size: 100%;
	opacity: 0.9;
	background-repeat: no-repeat;
}
h1{
	text-align: center;
	font-size: 500%;
	color: #f0f0f0
}
p,h4{
	padding-left: 30px;
	
}
h2{
	padding-left: 30px;
	padding-top: 10px;

}
.r3height{
	height: 240px;
}
.mainbackground{
	background-color: #d4d4d4;
	border-radius: 30px;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    background-image: linear-gradient(to bottom right,#d4d4d4, #f4f4f4);
}
.nav{
	background-color: #4CAF50; 
	text-decoration: none;
	font-weight: bolder;
	font-family: "Times New Roman";
	color: white;
	border-radius: 10px;
	border: 2px solid green;
  padding: 15px 15px 15px 15px ;
  position: relative;
  left: 500px ;
transition-duration: 0.5s;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.float1{
	  float: left;
}
.float2{
	float: right;
}
.button0{
	text-align: center;
	 padding-right: 1000px;
	  padding-bottom: 100px;
}
.footer{
	padding-top: 30px;
}
  .nav:hover{
  	background-color: #4CAF50;
  color: white;
border-radius: 30px;
  }
  .social{
  	padding: 10px 10px 10px 10px; 
  	text-decoration: none;
  }
  .social0{
  	text-align: center;background-color: grey;
  	border-top-right-radius: 30px;
  	border-top-left-radius: 30px;

  }
  .foot{
  	text-align: center;text-decoration: none;background-color: grey;
  }

  .csi{
text-decoration: none;
	font-weight: bolder;
	font-family: "Times New Roman";
	color: grey;
padding: 10px 10px 10px 10px;
position: fixed;
font-size: 25px;
  }

a{
	text-decoration: none;
	text-align: center;
}
@keyframes animi{
	0%{transform: rotate(0deg);}
	100%{transform: rotate(720deg);}
}
@keyframes inc{
	from{transform: scale(0,0);}
	to{transform: scale(2,2);}
}

.rot:hover{
	animation: inc 1.5s ;
transform: scale(1,1);

	animation: animi 1.5s  ;
}
.rule{
	padding-top: 65px;
}
.vac{
	font-size: 60%;
	padding: 80px 350px 80px 350px;
}
.logo{

  text-align: center;
 
animation: inc 2s;
padding-top: 100px;
}



.navbar{
	  color: white;

	transition-duration: 0.4s;
  cursor: pointer;
	text-decoration: none;
	font-size: 20px;
	font-weight: bolder;
	font-family: "AR JULIAN";
	color: black;
	padding: 0px 15px 1px 15px ;
	border: 2px solid grey ;
	border-radius: 50px;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

}
a:hover {
	color: black;
	font-size: 150%;

}


@keyframes inc{
	from{size: 120px;}
	to{size:180px;}
}



  .button {
  background-color: #4CAF50; 
  text-decoration: none;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.6s;
  cursor: pointer;
  border-radius:30px;
}
.button1{
	 background-color: white; 
  color: black; 
  border: 2px solid #4CAF50;
}
.button1:hover {
  background-color: #4CAF50;
  color: white;
box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
border-radius: 30px;
}

.filter {
border-top-right-radius: 30px;
 border-top-left-radius: 30px;

	filter: sepia(100%);
}



.image {
  opacity: 1;
  transition: .5s ease;
  float: right; 
  border-radius: 30px;

}



.image:hover {
  opacity: 0.45;
}

.pad{
	float: right;
}





