*{
	margin-right:  25px;
	margin-left: 25px;
}
body {
  font-family: Verdana, sans-serif;
}
.navbutton{
  font-size:30px;
  cursor:pointer; 
  margin-bottom: 20px;
  float: right;
}

footer{
  width: 100%;
  height: 200px;
  background-color:#d9d9d9;
  float: left;
  margin: 0;
  margin-top:20px; 
  margin-left:0;
  margin-right: 0;  
}

.topleft {
  position: absolute;
  top: 300px;
  left: 16px;
  font-size: 18px;
}


.mySlides {

 overflow:hidden;
}




/* Slideshow container */
.slideshow-container {
  max-width: 1500px;
  position: relative;
  overflow: hidden;
overflow-x: hidden;
overflow-y: hidden;
}

.element{
	padding: 10px;
	margin: 0;
	background-color: #7beec7;
}

.navBackground{
background-color: red;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade1 {

  animation: fade1 7s ease;

}
.fade2 {

  animation: fade2 7s ease;

}
.fade3 {

  animation: fade3 7s ease;

}
.fade {

  animation: fade 3s ease;

}
.navSearch{
	margin-left: 200px;
	margin-bottom: 30px; 
	float: left;
	background-color: #353535;
	border: none;
	border-radius: 15px; 
	padding: 5px;
	color:#ababab;
}


.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-image: url("nav_bg.jpg");
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  
}

.sidenav a {
  padding: 5px 5px 5px 10px;
  text-decoration: none;
  font-size: 25px;
  color: #eee;
  display: block;
  transition: 0.3s;
  
}
a{
  text-decoration: none;
  color: #353535;
}

 a:hover {
  color: #7beec7;
}

.container {
  display: inline-block;
  cursor: pointer;
  float: left;
  position: relative;
  z-index: 1;
  background-color: #7beec7;
  padding:6px;
  padding-right: 7px;
  padding-left: 7px;
}

.bar1, .bar2, .bar3 {
  width: 30px;
  height:2px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {

  transform: rotate(-45deg) translate(-6px,6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
 
  transform: rotate(45deg) translate(-5px, -5px);
}

.link{
   position: absolute;
  left:-500px;
  animation: linkanimi 1s;
}

.linkanimi{
 
}

@keyframes linkanimi{
  from{left: -480px;}
  to{left: 150px;}
}


.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 300px;
  font-size: 36px;

}

#sidenavcontentanimi1{
  position: relative;
  animation: sidenavcontentanimi 1s ease .5s;
}
#sidenavcontentanimi2{
  position: relative;
  animation: sidenavcontentanimi 1s ease .55s;
}
#sidenavcontentanimi3{
  position: relative;
  animation: sidenavcontentanimi 1s ease .6s;
}
#sidenavcontentanimi4{
  position: relative;
  animation: sidenavcontentanimi 1s ease .65s;
}

#sidenavcontentanimi5{
  position: relative;
  animation: sidenavcontentanimi 1s ease .7s;
}
.home{
	margin-bottom: -20px;

    animation: slidein 7s infinite;
}
.home:hover{
  position: relative;
}

li{
	color: white;
}

li:hover{

}



#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 30px;
  border: none;
  outline: none;
  background-color: #353535;
  color: white;
  cursor: pointer;
  padding-top: 12px;
  padding-left: 15px;
  padding-right: 15px;
}

#myBtn:hover {
  background-color: #7beec7;
}

.column {
  float: left;
  width: 320px;
margin: 10px;
   overflow-x: hidden;
  overflow-y: hidden;
  overflow: hidden;
    margin-left: 40px;
}

.row::after {
  
}
.row{
  float: right;
  margin-top:30px;
  margin-bottom:200px;

}
.overflow{
   overflow-x: hidden;
  overflow-y: hidden;
  overflow: hidden;
  margin: -30px;
  background-color: #7beec7;
  position: relative;
 height: 440px;
 width: 400px;
}
.slideup{
 position: relative;
z-index: 1;
background-color: transparent;
margin-bottom: -15px;
left: 20px;
 
}
@keyframes slideup{
  0%{bottom: 10px;}
  100%{bottom: 110px;}
}
.overflow:hover .slideup{
 
 animation: slideup  .5s ;
  bottom: 110px;
 
}
.overflow:hover .upperBorder{
   animation:  upperborder ease  .6s ;
   left: 5px;
}
.overflow:hover .leftBorder{
   animation : leftBorder ease  .6s ;
  top: 20px;
}
.overflow:hover .rightBorder{
   animation:  rightBorder ease  .6s ;
top: 10px;
}
.overflow:hover .bottomBorder{
  animation:  bottomBorder ease  .6s ;
  left: 0px;
}



@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


.incImg:hover {
  position: absolute;
  transition-duration: .5s; 
transform: scale(1.05) ;
overflow-x: hidden;
  overflow-y: hidden;
  opacity: 0.3;
  cursor:  url("cursor.png"),auto;
  position: relative;
  
}

@keyframes incImg{
  from{transform: scale(1);}
    to{transform: scale(1.05);}
}
.bottomBorder{
  z-index: 1;
  background-color: #353535;
  position: absolute;
  height: 3px;
  width: 400px;
  top: 407px;
  left: 325px;
}
@keyframes bottomBorder{
  0%{left: 325px;}
  100%{left: 0px;}
}
.rightBorder{
  z-index: 1;
  background-color: #353535;
  position: absolute;
height: 400px;
width: 3px;
top: -370px;
left: 322px;
}
@keyframes rightBorder{
  from{top:-370px;}
  to{top: 10px;}
}
.leftBorder{
  position: absolute;
  height: 400px;
  width: 3px;
  top:410px;
  left: 5px;
  z-index: 1;
  background-color: #353535;
}
@keyframes leftBorder{
  0%{top: 400px;}
  100%{top: 20px;}
}
.upperBorder{
position: absolute;
height: 3px;
width: 350px;
margin-right: 0px;
top: 30px;
left: -345px; 
z-index: 1;
background-color: #353535;
}
@keyframes upperborder{
0%{left: -345px;}
100%{left: 5px;}
}
hr{
  width: 40px; 
}
.subscribe{
  margin-left: 180px;
  padding: 13px;
  padding-left: 30px; 
  padding-right:30px; 
  background-color: #7beec7;
  border: none;
  color: white;
  font-size: 18px; 
}

.input{
  padding: 15px;
  padding-right: 115px; 
  margin: 50px;
  margin-left: 100px;
  border-width: 1px;
  border-color: #bbb;
  border-style: solid;
}

@keyframes slidein {
    0% { margin-bottom: -155px; }
    20% { margin-bottom: -150px; }
    35% { margin-bottom: 0px; }
    100% { margin-bottom: 0px; }
}

@keyframes sidenavcontentanimi{
  from{ left: 310px; }
  to{ left: 0px; }
}

@keyframes fade1  {
  0%{opacity: .1 ;transform: rotate(3deg) scale(1.15) ;} 
  30%{opacity: .98;}
  100%{opacity: 1;transform: rotate(0deg) scale(1.05);}
}

@keyframes fade2 {
  0%{opacity: .1 ;transform: rotate(0deg) scale(1.05) ;} 
  30%{opacity: .98;}
  100%{opacity: 1;transform: rotate(2.5deg) scale(1.15);}
}
@keyframes fade3  {
  0%{opacity: .1 ;transform: rotate(3deg) scale(1.2) ;} 
  30%{opacity: .98;}
  100%{opacity: 1;transform: rotate(0deg) scale(1.1);}
}
@keyframes fade {
  0%{opacity: .1 ;} 
  40%{opacity: .98;}
  100%{opacity: 1;}
}